<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Mark II</string>
		<key>lastStarted</key>
		<date>2021-06-30T16:38:19Z</date>
		<key>imageName</key>
		<string>toyota.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Audi</string>
		<key>model</key>
		<string>TT</string>
		<key>lastStarted</key>
		<date>2021-06-30T16:38:19Z</date>
		<key>imageName</key>
		<string>audi.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>138</integer>
		</dict>
		<key>mark</key>
		<string>Mercedes</string>
		<key>model</key>
		<string>G-Wagen</string>
		<key>lastStarted</key>
		<date>2021-06-30T16:38:19Z</date>
		<key>imageName</key>
		<string>mercedes.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>19</integer>
			<key>blue</key>
			<integer>94</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Navara</string>
		<key>lastStarted</key>
		<date>2021-06-30T16:38:19Z</date>
		<key>imageName</key>
		<string>nissan.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>Z4</string>
		<key>lastStarted</key>
		<date>2021-06-30T16:38:19Z</date>
		<key>imageName</key>
		<string>bmw.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
		<key>rating</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
